@font-face {
  font-family: modern;
  src: url(Modern.otf);
}


body
{
	background:linear-gradient(50deg,#301537, #9e59dd);
	background-size:100% 120%;
}

main
{
	display:flex;
	justify-content:center;
	margin-top:50px;
}

/*----------------- HEADER------------------*/

header
{
	display:flex;
	justify-content:space-between;
}

#header-title
{
	margin:0px;
	font-size:13px;
	color:black;
	text-decoration:none;
}

#header-title span
{
	font-size:10px;
}

#header-title:hover:not(span)
{
	text-decoration-line:line-through;
}

header nav
{
	display:flex;
	justify-content:space-evenly;
	width:40%;
}

header nav a
{
	color:black;
	text-decoration:none;
	display:block;
	transition:all 0.3s ease;
}

header nav a:hover
{
	color:white;
}

header nav a:before
{
	content:"";
	height:0.5px;
	width:52px;
	position:absolute;
	top:25px;
	
	background:black;
	transition:all 0.2s ease;
}

header nav a:hover:before
{
	background:white;
	top:9px;
}


header nav a:nth-child(1):before
{
	width:79px;
}

 header nav a:nth-child(3):before
 {
	width:70px;
 }
 
 header nav a:nth-child(4):before
 {
	width:23px; 
 }
 

/*----------------- GRID ------------------*/
#mainContainer
{
	display:grid;
	grid-template-columns:auto auto auto;
	grid-column-gap:5px;
	grid-row-gap:5px;
}

.border
{
	border:1px dashed black;
}


.grid-item
{
	opacity:0.8;
	
	height:100px;
	width:200px;
	
	transition:all 0.2s ease;
	font-family: modern;
	color:white;
}

.two-long{	grid-column:span 2;	width:405px;  }
.two-height{  grid-row:span 2;	height:210px;  }

.grid-item:hover
{
	opacity:1;
	background: radial-gradient(circle farthest-side at 100% 100%, rgb(255, 255, 255) 0%, rgb(138, 138, 141) 40%, rgb(149, 153, 157) 100%);
}

.grid-item:hover article, .grid-item:hover .a-btn
{
	opacity:1;
}

.cover
{
	width:100%;
	height:100%;
	transition:all 0.4s ease;
}

.grid-item h1
{
	font-size:25px;
	margin-left:5px;
	margin-top:0px;
}

.grid-item article 
{
	opacity:0;
	margin-left:5px;
	transition:all 0.2s ease;
	color:black;
}

.normal-font
{
	font-size:15px;	
}

.grid-item article h2
{
	font-size:18px;
	margin-bottom:-12px;
	text-decoration:underline;
}

.title-zone
{
	display:flex;
	justify-content:space-between;
	margin-bottom:-18px;
}

.a-btn
{
	background:black;
	padding:5px;
	height:17px;
	color:white;
	text-decoration:none;
	
	position:relative;
	top:5px;
	right:5px;
	opacity:0;
	transition:opacity 0.4s ease;
}

.a-btn:hover
{
	text-decoration-line:line-through;
}

#cv-btn
{
	left:130px;
	top:-20px;
}
#cv-article
{
	margin-top:-18px;
}
/*----------------- INDEX SQARE------------------*/

#contact .cover
{
	background:#ffc033;
}


#curriculum .cover
{
	background:#26457c;
}


#livre-or .cover
{
	
	background:#2cca47;
}

#real-perso .cover
{
	background:#d53d3d;
}

#real-etude .cover
{
	background:#ab0aae;
}

#infos-perso .cover
{
	background:#413ef8;
}


#contact .cover:hover
{
	background:#9b742c00;
}

#curriculum .cover:hover
{
	background:#26457c00;
}

#livre-or .cover:hover
{
	background:#ff600000;
}

#real-perso .cover:hover
{
	background:#d53d3d00;
}

#real-etude .cover:hover
{
	background:#ab0aae00;
}

#infos-perso .cover:hover
{
	background:#413ef800;
}
 
/*---------------LIVRE-OR-----------------*/

#livre-or h2
{
	margin-top:5px;
	margin-bottom:5px;
}

#livre-or-commentaires
{
	width:95%;
	margin:auto;
	overflow-y:scroll;
	overflow-x:none;
	max-height:150px;
}

#livre-or-commentaires::-webkit-scrollbar {
  width: 20px;
  height:90%;
  border-radius:3px;
  background:rgba(0,0,0,0.4);
}

#livre-or-commentaires::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 3px;
}

#livre-or-commentaires::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.4);
  border-radius: 3px;
}

.comm
{
	margin:3px;
	margin-top:-14px;
}

.auteur
{
	border-bottom:1px solid black;
	margin-bottom:-10px;
	font-size:14px;
}

.auteur span
{
	font-weight:bold;
}

.commentaire
{
	font-size:12px;
}


.grid-item .realisation-p
{
	text-decoration:none;
	margin-top:-7px;
}


/*-------------------CARTE VISITE------------*/

#infos-perso img
{
	width:80px;
	height:80px;
	border-radius:50%;
	margin:3px;
	margin-top:-10px;
}



#infos-top
{
	display:flex;
	justify-content:space-between
}

#infos-img
{
	display:flex;
	width:55%;
}

#infos-img ul
{
	margin-top:5px;
}

#infos-img ul li
{
	margin-left:-10px;
	font-size:13px;
}

#infos-img ul li span
{
	font-weight:bold;
}

#social-link
{
	width:30%;
}

#social-link img
{
	width:30px;
	height:30px;
	border-radius:0%;
	margin:3px;
}