@font-face {
  font-family: modern;
  src: url(Modern.otf);
}


body
{
	background:linear-gradient(50deg,#301537, #9e59dd);
	background-size:100% 140%;
	
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}

main
{
	display:flex;
	justify-content:center;
	align-items:center;
}

/*-------------------------------------------------------------HEADER-----------------------------------------------------------------*/

header
{
	display:flex;
	justify-content:space-between;
}

#header-title
{
	margin:0px;
	font-size:17px;
	color:black;
	text-decoration:none;
}

#header-title span
{
	font-size:14px;
}

#header-title:hover:not(span)
{
	text-decoration-line:line-through;
}

header nav
{
	display:flex;
	justify-content:space-evenly;
	width:40%;
}

header nav a
{
	color:black;
	text-decoration:none;
	display:block;
	transition:all 0.3s ease;
	font-size:17px;
	height:20px;
}

header nav a div
{
	background-image:url("Images/home.png");
	background-size:cover;
	width:15px;
	height:14px;
	margin-top:2px;
	transition:all 0.3s ease;
}

header nav a div:hover
{
	background-image:url("Images/home1.png");
}

header nav a:hover
{
	color:white;
}

header nav a:before
{
	content:"";
	height:0.5px;
	width:52px;
	position:absolute;
	top:25px;
	
	background:black;
	transition:all 0.2s ease;
}

header nav a:hover:before
{
	background:white;
	top:9px;
}

header nav a:nth-child(2):before
{
	width:52px;
}

header nav a:nth-child(1):before
{
	width:83px;
}

 header nav a:nth-child(3):before
 {
	width:73px;
 }
 
 header nav a:nth-child(4):before
 {
	width:23px; 
 }
 
 header nav a:nth-child(5):before
 {
	width:15px;
 }
 

/*-------------------------------------------------------GRID---------------------------------------------------------------*/
#mainContainer
{
	display:grid;
	grid-template-columns:auto auto auto;
	grid-column-gap:8px;
	grid-row-gap:8px;
	margin-top:50px;
}

.grid-item
{
	opacity:0.8;
	height:220px;
	width:350px;
	
	transition:all 0.2s ease;
	font-family: modern;
	color:white;
}

.two-long{	grid-column:span 2;	width:708px;  }
.two-height{  grid-row:span 2;	height:440px;  }

.grid-item:hover {
	background: radial-gradient(circle farthest-side at 100% 100%, rgb(255, 255, 255) 0%, rgb(138, 138, 141) 40%, rgb(149, 153, 157) 100%);
	opacity:1;
}

.grid-item:hover article, .grid-item:hover .a-btn
{
	opacity:1;
}

.cover
{
	width:100%;
	height:100%;
	transition:all 0.4s ease;
	opacity:1;
}

.grid-item h1
{
	font-size:35px;
	margin-left:5px;
	margin-top:0px;
}

.grid-item article 
{
	opacity:0;
	margin-left:5px;
	transition:all 0.2s ease;
	color:black;
}

.grid-item  article a:visited
{
	color:black;
}

.normal-font
{
	font-size:21px;	
}

.grid-item article h2
{
	font-size:30px;
	margin-bottom:-12px;
	margin-top:-10px;
	text-decoration:underline;
}

.title-zone
{
	display:flex;
	justify-content:space-between;
	margin-bottom:-25px;
}

.a-btn
{
	background:black;
	padding:5px;
	height:17px;
	color:white;
	text-decoration:none;
	
	position:relative;
	top:2px;
	right:3px;
	opacity:0;
	transition:opacity 0.4s ease;
}

.a-btn:hover
{
	text-decoration-line:underline;
}

#cv-btn
{
	left:130px;
	top:-20px;
}
#cv-article
{
	margin-top:-18px;
}
/*--------------------------------------------------------INDEX SQARE------------------------------------------------------------*/

#contact .cover
{
	background:#ffc033;
}


#curriculum .cover
{
	background:#26457c;
}


#livre-or .cover
{
	
	background:#2cca47;
}

#real-perso .cover
{
	background:#d53d3d;
}

#real-etude .cover
{
	background:#ab0aae;
}

#infos-perso .cover
{
	background:#413ef8;
}

#actualite .cover
{
	background-image:url("Images/actu1.jpg");
	background-size:100% 100%;
}

#contact .cover:hover
{
	background:#9b742c00;
}

#curriculum .cover:hover
{
	background:#26457c00;
}

#livre-or .cover:hover
{
	background:#ff600000;
}

#real-perso .cover:hover
{
	background:#d53d3d00;
}

#real-etude .cover:hover
{
	background:#ab0aae00;
}

#infos-perso .cover:hover
{
	background:#413ef800;
}
 
 #actualite .cover:hover
{
	background-image:url("Images/actu.jpg");
	background-size:100% 100%;		
}


/*---------------------------------------------CONTACT---------------------------------------------------------*/

#contact-dispo 
{
	display:flex;
	justify-content:space-evenly;
	
}

#contact-dispo ul:nth-child(2)
{
	
}

#contact-dispo ul:nth-child(1)
{
	height:50px;
	padding-right:25px;
	border-right:1px solid;
	border-image:linear-gradient(to top, transparent, black, transparent)  1 100%;
}

/*---------------------------------------------CV---------------------------------------------*/
#cv-article a
{
	color:black;
	text-decoration:none;
}

#cv-article div
{
	display:flex;
	justify-content:space-evenly;
}

#cv-article div>div
{
	margin-top:20px;
	display:flex;
	flex-direction:column;
	text-align:center;
}

#cv-pdf-img
{
	width:50px;
	height:50px;
	margin:auto;
	margin-top:4px;
	background-image:url("Images/pdfCV.png");
	background-size:cover;
	transition:all 0.4s ease;
}

#cv-pdf-img:hover
{
	background-image:url("Images/pdfCV1.png");
}

#cv-odt-img
{
	width:50px;
	height:55px;
	border-radius:5px;
	margin:auto;
	background-image:url("Images/odt.png");
	background-size:cover;
	transition:all 0.4s ease;
}

#cv-odt-img:hover
{
	background-image:url("Images/odt1.png");
}


/*---------------------------------------------LIVRE-OR---------------------------------------------------------*/

#livre-or h2
{
	margin-top:5px;
	margin-bottom:5px;
}

#livre-or-commentaires
{
	width:95%;
	margin:auto;
	margin-left:0px;
	overflow-y:scroll;
	overflow-x:none;
	max-height:250px;
}

#livre-or-commentaires::-webkit-scrollbar {
  width: 20px;
  height:90%;
  border-radius:3px;
  background:rgba(0,0,0,0.4);
}

#livre-or-commentaires::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 3px;
}

#livre-or-commentaires::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.4);
  border-radius: 3px;
}

.comm
{
	margin-top:-5px;
	margin-right:13px;
}

.auteur
{
	border-bottom:1px solid black;
	margin-bottom:-10px;
	font-size:18px;
	display:flex;
	justify-content:space-between;
}

.auteur span
{
	font-weight:bold;
}

.commentaire
{
	font-size:15px;
}

.grid-item .realisation-p
{
	text-decoration:none;
	margin-top:-7px;
}

/*----------------------------------------------------CARTE VISITE-----------------------------------------------------*/

#infos-perso img
{
	width:140px;
	height:140px;
	border-radius:50%;
	margin:3px;
	margin-top:-10px;
}



#infos-top
{
	display:flex;
	justify-content:space-between
}

#infos-img
{
	display:flex;
}

#infos-bottom li
{
	font-size:17px;
}

#infos-img ul li
{
	margin-left:-10px;
	font-size:18px;
}

#infos-img ul li span
{
	font-weight:bold;
}

#social-link
{
	width:30%;
}

#social-link img
{
	width:30px;
	height:30px;
	border-radius:0%;
	margin:3px;
}

#contact-link
{
	display:flex;
	text-decoration:none;
	width:90px;
	position:relative;
	/* left:47px; */
	/* bottom:37px; */
	cursor:default;
}

#contact-link-text
{
	margin-top:5px;
	margin-bottom:-30px;
	width:60px;
	font-size:14px;
	color:#000000;
	display:flex;
	flex-direction:column
}

#contact-link-case
{
	width:30px;
	height:30px;
	border:0.7px dashed #000000;
	border-radius:5px;
	text-align:center;
	font-size:28px;
	cursor:pointer;
	color:black;
	transition:all 0.2s ease;
}

#contact-link-case:hover
{
	border-color:#e5a74b;
	color:#e5a74b;
}

/*------------------------------------------------CONTACT------------------------------------------------*/

#contactMain
{	
	justify-content:center;
	flex-direction:column;
	align-items:stretch;
	margin:auto;
	width:40%;
}

#contact-form
{
	margin-left:-10px;
	margin-top:10px;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
}


#contactTitle h1
{
	text-align:center;
}

.inputZone label
{
	display:flex;
	flex-direction:row;
	
	float:right;
	font-size:23px;
	color:rgba(250,250,250,0.7);
	
	transform:translate(0px, -35px);
	
	transition:transform 0.5s ease;
}

.absol-input
{
	width:600px;
	max-width:600px;
	
	background:rgba(0,0,0,0.7);
	
	border-radius:20px;
	border:0px;
	outline-width:0px;
	
	transition:background 0.5s ease;
	
	font-size:23px;
	color:rgba(250,250,250,0.7);
}

.absol-input:not(textarea)
{
	border-radius:20px;
	height:40px;
}

#name-zone
{
	padding-bottom:20px;
}
.absol-input:focus
{
	background:rgba(0,0,0,0.5);
}

.absol-input:focus:not(textarea)~label
{
	transform:translate(0px, -70px);
}

textarea:focus~label
{
	transform:translate(0px, -4px);
}

.inputZone input[type="submit"], .inputZone input[type="reset"]
{
	background-color:rgba(50,50,50,0.5);
	
	padding: 20px 15px;
	border:0px;
	outline:1px;
	border-radius: 60px;
	
	font-size: 17px;
	width:150px;
	
	cursor:pointer;
	
	transition:all 0.2s ease;
}


.inputZone input[type="submit"]:hover, .inputZone input[type="reset"]:hover
{
	background-color:rgba(100,100,100,0.9);
	color:white;
}

.controls
{
	display:flex;
	justify-content:space-between;
	width:600px;
}

#name-zone
{
	display:flex;
	justify-content:space-around;
	width:600px;
	margin-bottom:-20px;
}

.name
{
	width:290px;
	height:40px;
	
	background:rgba(0,0,0,0.7);
	
	border-radius:20px;
	border:0px;
	outline-width:0px;
	
	transition:background 0.5s ease;
	
	font-size:23px;
	color:rgba(250,250,250,0.7);
}

.name:focus
{
	background:rgba(0,0,0,0.5);
}

.name~label
{
	transform:translate(-20px, -37px);
}

.name:focus~label
{
	transform:translate(-20px,-67px);
}

textarea:focus
{
	background:rgba(0,0,0,0.5);
}

textarea
{
	margin-top:-20px;
}

/*---------------------------------------CURRICULUM------------------------------------ */
#curri-body
{
	background-size:100% 200%;
}

#curri-main 
{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	width:50%;
	margin:auto;
	margin-top:30px;
}

#curri-title
{
	margin-bottom:50px;
}

#curri-presentation
{
	align-self:flex-start;
}

#curri-presentation p
{
	margin:3px;
	height:18px;
	
}

#curri-w
{
	color:white;
	transition:all 0.2s ease;
}

#curri-w:before 
{
	content:"";
	height:0.5px;
	width:165px;
	position:absolute;
	background:white;
	transition:all 0.2s ease;
	margin-top:17px;
}

#curri-w:hover:before
{
	background:black;
	margin-top:2.5px;
}

#curri-main article a
{
	color:white;
	text-decoration:none;
	transition:all 0.2s ease;
}

#curri-main article a:hover
{
	color:black;
}

#curri-mail:before
{
	content:"";
	height:0.5px;
	width:161px;
	position:absolute;
	background:white;
	transition:all 0.2s ease;
	margin-top:16px;
}


#curri-mail:hover:before
{
	margin-top:2px;
	background:black;
}


#curri-formation
{
	display:flex;
	flex-direction:column;
	align-self:flex-start;
	font-size:17px;
}

#curri-formation p
{
	margin-bottom:-5px;
}

.curri-sub-title
{
	text-align:left;
	font-size:30px;
	border-bottom:2px solid;
	border-image:linear-gradient(to right, black,transparent) 100% 1;
	color:black;
}

#curri-formation .curri-sub-title
{
	margin-bottom:-10px;	
}

.curri-ul-title
{
	text-decoration:underline;
}

#curri-project-ul
{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:flex-start;
	margin-bottom:10px;
	width:40%;
	list-style:none;
	margin-right:50px;
}

.curri-ul-project
{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	width:100px;
	margin:auto;
}

.project-logo
{
	width:30px;
	height:30px;
	background-size:cover;
	transition:all 0.3s ease;
	margin-bottom:5px;
}

#blocnote
{
	background-image:url("Images/blocnote1.png");
}

#bc:hover #blocnote
{
	background-image:url("Images/blocnote.png");
}

#agenda
{
	background-image:url("Images/agenda1.png");
}

#ag:hover #agenda
{
	background-image:url("Images/agenda.png");
}

#password-manager
{
	background-image:url("Images/password1.png");
}

#pw:hover #password-manager
{
	background-image:url("Images/password.png");
}

#sushi
{
	background-image:url("Images/sushi1.png");
}

#su:hover #sushi
{
	background-image:url("Images/sushi.png");
}

#portfolio
{
	background-image:url("Images/portfolio.png");
	height:50px;
}

#po:hover #portfolio
{
	background-image:url("Images/portfolio1.png");
}

#curri-github
{
	background-image:url("Images/gitHub1.png");
}

#gi:hover #curri-github
{
	background-image:url("Images/gitHub.png");
}

#curri-livreor
{
	background-image:url("Images/livreor1.png");
	width:50px;
}

#li:hover #curri-livreor
{
	background-image:url("Images/livreor.png");
}

#curri-bde
{
	background-image:url("Images/plateforme1.png");
	width:60px;
	height:50px;
}

#bde:hover #curri-bde
{
	background-image:url("Images/plateforme.png");
}

#curri-download
{
	display:flex;
	justify-content:space-around;
	margin-bottom:30px;
}

#curri-download a
{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	font-size:20px;
	text-align:center;
}

#download-pdf
{
	background-image:url("Images/pdfCV1.png");
	background-size:cover;
	width:90px;
	height:90px;
	transition:all 0.3s ease;
}

#download-pdf:hover
{
	background-image:url("Images/pdfCV.png");
}

#download-odt
{
	background-image:url("Images/odt1.png");
	background-size:cover;
	width:70px;
	height:90px;
	transition:all 0.3s ease;
}

#download-odt:hover
{
	background-image:url("Images/odt.png");
}

#image-git
{
	background-image:url("Images/gitHub1.png");
	background-size:cover;
	width:90px;
	height:90px;
	transition:all 0.3s ease;
}

#image-git:hover
{
	background-image:url("Images/gitHub.png");
}

#curri-res
{
	background-image:url("Images/res.png");
	width:60px;
	height:50px;
}

#res:hover #curri-res	
{
	background-image:url("Images/res1.png");
}

 #curri-prog 
 {
	width:100%;
	text-align:center;
 }
 
 #curri-skill
 {
	width:100%;
 }
 
 #curri-prog td, #curri-prog  th
 {
	 width:50px;
 }


















/*---------------------------------------MEDIA------------------------------------ */

@media only screen and (max-width:1050px){
	body {
		background-size:100% 155%;
	}
	
	#real-etude {
		grid-row:6;
		margin-bottom:20px;
	}

	#mainContainer {
		grid-template-columns:auto auto ;
	}
	
	#contactMain{
		margin:auto;
		width:500px;
	}
	
	#contactTitle
	{
		margin:auto;
		margin-bottom:-20px;
		margin-top:-20px;
	}
	
	#contactTitle h1 {
		margin:auto;
	}
	
	.absol-input {
		width:500px;
	}
	
	#name-zone {
		width:500px;
	}
	.name{
		width:250px;
	}
	
	.inputZone label {
		transform:translate(-20px,-35px);
	}
	
	.absol-input:focus:not(textarea)~label
	{
		transform:translate(-20px, -70px);
	}

	textarea:focus~label
	{
		transform:translate(-20px, -4px);
	}
	
	.controls {
		width:500px;
	}

@media only screen and (min-height:500px){
		body {
		background-size:100% 320%;
	}
}